*{
    font-family: sans-serif;
}

body{
    margin: 0;
    width: 1310px;
    background-color: #c9c4c4;
}

.nav{
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nav > img{
    padding-left: 20%;
}

.heading{
    width: 103%;
    height: 25px;
    background-color: #f0f8ff;
}

h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.main{
    height: 500px;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.course{
    border: #8b8b8b;
    border-style: none;
    border-radius: 20px;
    width: 350px;
    height: 450px;
    background-color: #cecdcd;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;;
    justify-content: center;
    text-align: center;
}

.course img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.para{
    text-align: justify;
    margin: 10px;
}

.course button{
    margin-top: 50px;
    width: 80%;
    height: 40px;
    font-size: 16px;
    background-color: lightblue;
    border: lightblue;
    border-radius: 10px;
    color: blue;
}

.footer{
    height: 30px;
    width: 100%;
    background-color: #cecdcd;
    color: #464545;
    padding-top: 13px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;    
}